* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.completed p {
    text-decoration: line-through;
}


body {
    background-image: url('./img/pexels-francesco-ungaro-1671325.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #0ca4b8;
    display: flex;
    justify-content: center;
}

#formLista {
    background: #fff;
    min-height: 500px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
}
.formulario input {
    padding: 7px;
    width: 400px;
}

#what-task input[type="text"] {
    font-size: 15pt;
}
#what-task {
    border-bottom: 2px solid #0ca4b8;
    margin: 10px 0;
    padding: 30px 0;
}
#what-task h1 {
    margin-top: -30px;
    margin-bottom: 20px;
}



.divMainTask {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.divMainTask div {
    padding: 10px 0 10px 0;
}
.divMainTask p {
    padding: 10px 0 10px 0;
    width: 400px;
}
.divMainTask button {
    margin: 0 5px;
}
